@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000a9b;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #bdaa00;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ffffff;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  
            transition: all 0.3s 1s ease-out;
}

*{
    box-sizing: border-box;
}


.text{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#gallery-container::-webkit-scrollbar {
    display: none;
}

.slideshow {
    height:328px;
    width: 80%;
    position: relative;
    float:right;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}
.images {
    background: url(navyslides.png);
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    height:328px;
    width: 8190px;
    height: 100%;
    animation: slideshow 60s linear infinite;
    transform: translate3d(0, 0, 0);
}
@keyframes slideshow {
    100% { 
        transform: translateX(-66.66666%);  
    }
}

.modal-content{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html.mobile{
    scroll-snap-type: none;
}

.poppinsHeavy{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.poppinsLight{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.spacing{
    line-height: 1.3em;
}

#titletext{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.slideText{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 75%;
    color: white;
    float:right;
    margin-right: 5%;
}

.slideTex{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 75%;
    color: white;
    float:right;
    margin-right: 5%;
}

.slideText{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 75%;
    color: white;
    float:right;
    margin-right: 5%;
}

.section {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    color: #F0EBD8;
}

body {
    -ms-overflow-style: none; 
}

html{
    scroll-snap-type: y mandatory; 
    scroll-behavior: smooth;
    font-size: 25px;
}


.fade-in-gallery{
    opacity: 0;
    transition: opacity 750ms ease-in-out;
}

.fade-in{
    opacity: 0;
    transition: opacity 750ms ease-in-out;
}
.fade-in.appear, .fade-in-gallery.appear{
    opacity:1;
}

body, html{
    background-color: #0D1321;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 80%;
    margin-left: 20%;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin-bottom: 40px;
}

.column .element {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.element{
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

img{
    max-width: 100%;
}

.bg {
    /* The image used */
    background-image: url("assets/cover.jpg");

    /* Full height */
    height: 100vh;
    position: relative;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
    color: white;
}

.element:hover .image {
    opacity: 0.9;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.element:hover .middle {
    opacity: 1;
}

.text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.image {
    display: block;
}

#titleButton{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
}

#galleryButton{
    color:black;
}

#galleryButton:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#galleryButtonContainer, #titleButtonContainer{
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 120px;
}

#gallery-container{
    padding-right: 15px;
    width: 100%;
    text-align: right;
    height: 100vh;
    overflow-y: scroll;
    background-color: #597491;
    padding-bottom: 100px;
    display:none;
}
.mobile #gallery-container{
    padding-right: 15px;
    width: 100%;
    text-align: right;
    height: auto;
    overflow-y: visible;
    background-color: #597491;
    padding-bottom: 100px;
}
#gallery{
    -webkit-transition: opacity 0.7s ease-in;
    -moz-transition: opacity 0.7s ease-in;
    -ms-transition: opacity 0.7s ease-in;
    -o-transition: opacity 0.7s ease-in;
    transition: opacity 0.7s ease-in;
}


.btn-outline-primary{
    color:#0D1321;
    border-color:#0D1321;
}
.btn-outline-primary:hover{
    color:#F0EBD8;
    background-color:#0D1321;
    border-color:#0D1321;
}
.btn-outline-primary.focus,.btn-outline-primary:focus{
    box-shadow:0 0 0 .2rem rgba(13, 19, 33,0.5);
}

.btn-outline-primary.disabled,.btn-outline-primary:disabled{color:#0D1321;background-color:transparent}.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active,.show>.btn-outline-primary.dropdown-toggle{color:#fff;background-color:#0D1321;border-color:#0D1321}.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #0D1321}


.btn-outline-info{
    color:#F0EBD8;
    border-color:#F0EBD8;
}
.btn-outline-info:hover{
    color:#0D1321;
    background-color:#F0EBD8;
    border-color:#F0EBD8;
}
.btn-outline-info.focus,.btn-outline-info:focus{
    box-shadow:0 0 0 .2rem rgba(240,235,216,0.5);
}

.btn-outline-info.disabled,.btn-outline-info:disabled{color:#F0EBD8;background-color:transparent}.btn-outline-info:not(:disabled):not(.disabled).active,.btn-outline-info:not(:disabled):not(.disabled):active,.show>.btn-outline-info.dropdown-toggle{color:#fff;background-color:#F0EBD8;border-color:#F0EBD8}.btn-outline-info:not(:disabled):not(.disabled).active:focus,.btn-outline-info:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-info.dropdown-toggle:focus{box-shadow:0 0 0 .2rem #F0EBD8}

#gallery-intro{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    background-color: #3E5C76;
}

#gallery-intro div{
    z-index: 100;
}

.modal-header{
    font-size: 0.8em;
}

.modal-title{
    font-size: 1.6em;
}

.close{
    font-size: 1.8em
}

.modal-content{
    font-size: 0.6em;
}

.texth1{
    font-size: 1.8em;
}

.texth2{
    font-size: 1.6em;
}

.texth3{
    font-size: 1.3em;
}

.texth4{
    font-size: 1em;
}

.texth5{
    font-size: 0.8em;
}

.texth6{
    font-size: 0.6em;
}

#gallery-intro div h4, #gallery-intro div h2{
    text-align:left;
    margin-left: 20%;
    z-index: 100;
}
#gallery-intro div h2{
    line-height: 1.6em;
}

#gallery-intro div h4{
    line-height: 1.4em;
}

#donateContent{
    width:60%;
    margin: 0 auto;
    color: #0D1321;
    position: relative;
}

#textone, #texttwo{
    -webkit-transition: opacity 0.8s ease-in;
    -moz-transition: opacity 0.8s ease-in;
    -ms-transition: opacity 0.8s ease-in;
        -o-transition: opacity 0.8s ease-in;
        transition: opacity 0.8s ease-in;
    line-height: 1.5em;
}

#donateButton{
    margin-top: 20px;
    display:block;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
        -o-transition: opacity 0.5s ease-in;
        transition: opacity 0.5s ease-in;
}

#information {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #1D2D44;
    overflow-y: scroll;
}
#information h3{
    position: relative;
    z-index: 5;
}

ul {
    list-style-type: none;
    position: absolute;
    bottom: 15px;
    padding: 0;
    width: 16px;
}
#donate{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    position: relative;
    background-color: #F0E8BD;
    text-align:left;
}

#introContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

#introContainer div{
    position: absolute;
    width: 70%;
    left: 50%;
    margin-left: -35%;
    top: 40%;
}

#introContainer div h3, #introContainer div h5{
    line-height: 1.6em;
}

#introContainer img{
    min-width: 1000px;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
}


.expand{
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.plus{
    color: black;
    z-index: 5;
    position: absolute;
}

#plus-top-right{
    position: absolute;
    right:20px;
    top:10px;
}

#plus-top-left{
    position: absolute;
    left:10px;
    top:10px;
}

#top-right{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    right:0;
    background: white;
    border-radius: 0 0 0 90px;
    border-radius: 0 0 0 90px;
    -moz-border-radius: 0 0 0 90px;
    -webkit-border-radius: 0 0 0 90px;
    transform-origin: 100% 0%;
}

#top-left{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    left:0;
    background: white;
    border-radius: 0 0 90px 0;
    border-radius: 0 0 90px 0;
    -moz-border-radius: 0 0 90px 0;
    -webkit-border-radius: 0 0 90px 0;
    transform-origin: 0% 0%;
}

.extLink{
    -webkit-transition: opacity 0.6s ease-in;
    -moz-transition: opacity 0.6s ease-in;
    -ms-transition: opacity 0.6s ease-in;
    -o-transition: opacity 0.6s ease-in;
    transition: opacity 0.6s ease-in;
    opacity: 0.5;
}

.extLink:hover{
    opacity: 1;
    transform: scale(1.2);
}

li div{
    display: block;
    color: #000;
    background-color: #F0EBD8;
    width: 16px;
    height: 16px;
    border-radius:50%;
    margin-top: 5px;
    text-decoration: none;
    transition: 0.4s;
    cursor:pointer;
}

li div.change{
    background-color: #041641;
}

#timeline-intro{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.modalimage{
    margin-bottom: 10px;
}
.active{
    background-color: #E9C46A;
    color: white;
    width: 24px;
    height: 24px
}

/* Change the link color on hover */
li div:hover {
    background-color: #E9C46A;
    color: white;
    width: 24px;
    height: 24px
}

#teachers{
    display: none;
    align-items: center;
    justify-content: flex-end;
    background-color: #748CAB;
}

.expand{
    display:none;
}

#sidebar{
    margin-left:15px;
    margin-top: 10px;
    height: 100vh;
    position: fixed;
    top:0;
    z-index: 2;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#sidebar h1{
    font-family: 'Poppins', sans-serif;
    color:#F0EBD8;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform-origin: 0 0;
    position: absolute;
    top: 5px;
    left: 30px;
    font-size:30px;
    font-weight: 600;
}

#sidebar h1.change{
    color:#0D1321;
}

.navText{
    font-size: 18px;
    margin-left: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.middle {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

#first {
    width: 100%;
    height: 100vh;
    top:0;
    position: fixed;
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 100;
    text-align: center;
    align-items: center;
    justify-content: center;
    display:none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#first h3{
    -moz-transition: all 0.8s ease-in;
    -webkit-transition: all 0.8s ease-in;
    -ms-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
    opacity:0;
}

#backgroundVid {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity:1;
    min-width: 100%;
    min-height: 100%;
    -moz-transition: opacity 0s ease-in;
    -webkit-transition: opacity 0s ease-in;
    -ms-transition: opacity 0s ease-in;
    transition: opacity 0s ease-in;
}

#gallery-intro img{
    position: absolute;
    bottom: 0;
    right: 10%;
    height: 80%;
    z-index: 1;
}

#donate img{
    width: 50%;
    position: absolute;
    bottom: 0px;
    right: 0;
    opacity: 0.8;
    min-width: 300px;
}

#timelinetitle{
    position: absolute;
    top: 30px;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
#timelinetitle::after{
    content: '';
    height: 2px;
    width: 102%;
    background-color: #7a8aa8;
    position: absolute;
    left: 50%;
    margin-top: 40px;
    margin-left: -51%;
}

.storymodal p{
    width: 96%;
    margin: 0 2%;
    color: rgb(243, 243, 243);
}

.storymodal .modal-header, .storymodal span{
    color: rgb(243, 243, 243); 
}

.storymodal img{
    width: 80%;
    margin: 0 10% 20px;
}

#censor{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    width: 70%;
    font-size: 18px;
    z-index: 15;
}

#censoredimage{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

#censoredimage.censored{
    filter: blur(4px);
    -webkit-filter: blur(4px);
}


.timelinemodal h1{
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 145);
}

.timelinemodal h6{
    color: rgb(243, 243, 243);
}
@media screen and (max-width: 700px) {
    #firstpanel::before, #firstpanel::after, #firstpanel .content{
        top: 400px;
    }
    #secondpanel::before, #secondpanel::after, #secondpanel .content{
        top: 700px;
    }

    #thirdpanel::before, #thirdpanel::after, #thirdpanel .content{
        top: 1000px;
    }

    #fourthpanel::before, #fourthpanel::after, #fourthpanel .content{
        top: 1300px;
    }

    #fifthpanel::before, #fifthpanel::after, #fifthpanel .content{
        top: 1600px;
    }

    #sixthpanel::before, #sixthpanel::after, #sixthpanel .content{
        top: 1900px;
    }
}

#timeline{
    top: 0;
    margin: 0 auto;
    height: 2100px;
    width: 30px;
}

#information{
    overflow:visible;
    height: 2200px;
}

#vertical {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #7a8aa8;
    top: 150px;
    left:70px;
    bottom: 0;
    height: 1900px;
    margin-left: -1px;
}

#vertical::before{
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #7a8aa8;
    top: 0px;
    left: 50%;
    border-radius: 50%;
    margin-left: -11px;
}
#vertical::after{
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #7a8aa8;
    top: 1900px;
    left: 50%;
    border-radius: 50%;
    margin-left: -11px;
    margin-bottom: 150px;
}


.container::before{
    content:'';
    height: 2px;
    width: 40px;
    position: absolute;
    background-color: #7a8aa8;
    margin-top: 0px;
    left: 70px;
}
.container::after{
    content: '';
    position: absolute;
    height: 18px;
    border-radius: 50%;
    width: 18px;
    background-color: #7a8aa8;
    left: 110px;
    margin-left: -9px;
    margin-top: -9px;
}

.container .content{
    position: absolute;
    margin-left: 0px;
    margin-top: calc(-40% - 0.75em);
    width: 40%;
    min-width: 200px;
    min-height: 200px;
    left: 50%;
    margin-left: -20%;
    bottom: 0;
    text-align: center;
}

.timelinetext{
    text-align: left;
    color: rgb(248, 248, 248);
}

.content .header{
    width: 40%;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 145);
    font-weight:600;
    width: 100%;
    font-size: 20px;
}

.content img{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.content img:hover {
    transform: scale(1.03);
    transition-duration: 0.1s;
}

@media screen and (max-width: 900px) {
    html{
        scroll-snap-type: y mandatory; 
        scroll-behavior: smooth;
        font-size: 16px;
    }
    .bg {
        background-image: url("assets/cover.jpg");

        height: 100vh;
        position: relative;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 20;
        color: white;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        width: 80%;
        margin-left: 20%;
    }
    .slideshow {
        height: 230px;
    }
    #donateContent{
        width:80%;
        margin: 0 0 0 15%;
    }
    #donateContent h1{
        font-size: 22px;
    }
    #donateContent h5{
        font-size: 18px;
    }
    #gallery-intro div h4,#gallery-intro div h2{
        text-align:center;
        margin: 0 auto;
    }
    #gallery-intro img{
        opacity: 0.8;
    }
    #titletext{
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .images {
        animation: slideshow 90s linear infinite;
    }

    #donate img{
        bottom: 15%;
    }
}

@media only screen and (min-width: 700px) {
    #information{
        overflow: visible;
        height: 100vh;
        position: relative;
    }

    #timelinetitle{
        position: absolute;
        top: 30px;
        line-height: 40px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
    #timelinetitle::after{
        content: '';
        height: 2px;
        width: 120%;
        background-color: #7a8aa8;
        position: relative;
        left: 50%;
        top: auto;
        margin-top: 60px;
        margin-left: -60%;
    }

    #timeline{
        height: calc(100% - 90px);
        width: 100%;
        position: absolute;
        bottom: 0;
        top: auto;
    }

    #vertical {
        content: '';
        position: relative;
        width: 90%;
        background-color: #7a8aa8;
        top: 50%;
        left: 50%;
        margin-left: -45%;
        height: 2px;
        margin-top: -1px;
    }


    #vertical::before{
        width: 16px;
        height: 16px;
        top:-8px;
        left: 0px;
    }
    #vertical::after{
        width: 16px;
        height: 16px;
        top: -8px;
        right: 0px;
        left: auto;
    }

    .container.above::before{
        content: '';
        position: absolute;
        height: 40px;
        width: 2px;
        background-color: #7a8aa8;
        top: 50%;
        margin-top: -40px;
        left: auto;
    }
    .container.above::after{
        height: 10px;
        border-radius: 50%;
        width: 10px;
        margin-left: -4px;
        background-color: #7a8aa8;
        top: calc(50% - 45px);
        margin-top: 0px;
        left: auto;
    }

    .container.above .content{
        width: 200px;
        height: 280px;
        top: calc(50% - 325px);
        margin-left: -100px;
        margin-top: 0;
        left: auto;
    }

    .container.under::before{
        content: '';
        position: absolute;
        height: 40px;
        width: 2px;
        background-color: #7a8aa8;
        top: 50%;
        margin-top: 0;
        left: auto;
    }
    .container.under::after{
        height: 10px;
        border-radius: 50%;
        width: 10px;
        margin-left: -6px;
        background-color: #7a8aa8;
        top: calc(50% + 40px);
        margin-top: 0px;
        left: auto;
    }

    .container.under .content{
        width: 200px;
        height: 280px;
        top: calc(50% + 59px);
        margin-left: -100px;
        margin-top: 0;
        left: auto;
    }

    .content img{
        height: 200px;
        width: 200px;
        cursor: pointer;
    }

    #firstpanel .content, #firstpanel::after, #firstpanel::before{
        left:15%;
    }

    #secondpanel .content, #secondpanel::after, #secondpanel::before{
        left:29%;
    }

    #thirdpanel .content, #thirdpanel::after, #thirdpanel::before{
        left:43%;
    }

    #fourthpanel .content, #fourthpanel::after, #fourthpanel::before{
        left:57%;
    }

    #fifthpanel .content, #fifthpanel::after, #fifthpanel::before{
        left:71%;
    }

    #sixthpanel .content, #sixthpanel::after, #sixthpanel::before{
        left:85%;
    }

}

.phaseOne {
    display:none;
}
